{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {% if author.get_full_name %}
        {{ author.get_full_name }}
    {% else %}
        {{ author }}
    {% endif %} профайл пользователя
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="mb-5">
        <h1>Все посты пользователя {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author }}{% endif %}</h1>
        <br>
            <h3>Всего постов: {{ page_obj.paginator.count }}</h3>
            {% if request.user != author %}
                {% if following %}
                    <a
                    class="btn btn-lg btn-primary"
                    href="{% url 'posts:profile_unfollow' author.username %}" role="button"
                    >
                    Отписаться
                    </a>
                {% else %}
                    <a
                    class="btn btn-lg btn-primary"
                    href="{% url 'posts:profile_follow' author.username %}" role="button"
                    >
                    Подписаться
                    </a>
                {% endif %}
            {% endif %}
    </div>
        {% for post in page_obj %}
            <div class="row">
                <aside class="col-12 col-md-4">
                    <ul>
                        <li>
                            Дата публикации: {{ post.pub_date|date:'d E Y' }}
                        </li>
                    </ul>
                        <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
                        <br>
                            {% if post.group %}
                                <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                            {% endif %}
                </aside>
                    <article class="col-12 col-md-4">
                        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                            <img class="card-img my-2" src="{{ im.url }}">
                        {% endthumbnail %}
                            <div class="d-flex justify-content-left">
                                <p>{{ post.text }}</p>
                    </article>
                        {% if not forloop.last %}<hr>{% endif %}
            </div>
</div>
{% endfor %}
<div class="d-flex justify-content-center">
    <div>{% include 'includes/paginator.html' %}</div>
</div>
{% endblock %}